# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
*.venv
ENV/
env.bak/
venv.bak/

# Project specifics
results/
cache/
*.log

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Sensitive Data and Alpha Research Modules
data/
src/data/
dev_context/
